* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  /* height: calc(100vh - 200px); */
  padding-bottom: 5rem;
  padding-top: 2rem;
}

main,
header {
  background-color: grey;
}


header {
  h1 {
    padding: 2rem;
    text-align: center;
  }
}

.container-main {
  width: 30%;
  margin: auto;

}


.btn {
  text-decoration: none;
  border: none;
  padding: 1rem;
  border-radius: .5rem;
  background-color: orange;
  color: white;

  &:hover {
    background-color: #c27f03;
    color: white;
  }

}

footer {
  background-color: rgb(41, 40, 40);
  color: white;
  padding: 2rem 0;
  text-align: center;

  .container {
    width: 80%;
    margin: auto;
  }
}